<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.imy_320"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="23" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name">
	
	
	        <activity
            android:name="pack.CalendarView"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="pack.Login"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name="pack.Register"
            android:label="@string/title_activity_register" >
        </activity>
        <activity
            android:name="pack.MainActivity"
            android:label="Calendar" >
        </activity>
        <activity
            android:name="pack.AddEvent"
            android:label="Add Event" >
        </activity>
	
         <activity
            android:name="pack.ShowAllEvents"
            android:label="List of Events" >
        </activity>
	
    </application>

</manifest>
